extends layout

mixin link(href, name)
  a(href=href)&attributes(attributes)= name
mixin button(type, name)
  button(type=type)&attributes(attributes)= name
mixin input(type)
  input(type=type)&attributes(attributes)

block content
  // h1= title
  div.container-fluid.log-viewer-container
    div.row.log-viewer-header
      div.col-9: +input("text")(id="path-field", class="form-control", placeholder="/path/to/file", value="/Users/Lahphim/IdeaProjects/log-file-viewer/routes/file.log")
      div.col-3: +button("button", "View")(id="view-btn", class="btn btn-fit btn-primary")
    div.row.log-viewer-body
      div.col-12(id="dynamic-container")
        h2.info-message= response.message
    div.row.log-viewer-footer
      div.col-3: +link("javascript:;", "|<")(id="head-btn", class="btn btn-fit btn-default", title="Go to beginner")
      div.col-3: +link("javascript:;", "<")(id="prev-btn", class="btn btn-fit btn-default", title="Previous")
      div.col-3: +link("javascript:;", ">")(id="next-btn", class="btn btn-fit btn-default", title="Next")
      div.col-3: +link("javascript:;", ">|")(id="tail-btn", class="btn btn-fit btn-default", title="Go to end")
