@import "grid"
@import "form"
@import "button"

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.log-viewer-container
  border: 1px solid #ccc

.log-viewer-body
  min-height: 400px
  border: 1px solid #ccc
